<!DOCTYPE html>
<html>

<head>

    <title>ngCatwalk</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/crossfilter/crossfilter.js"></script>
    <script type="text/javascript" src="js/vendor/ng-crossfilter/dist/ng-crossfilter.js"></script>
    <script type="text/javascript" src="js/vendor/ng-catwalk/ng-catwalk.js"></script>

    <!-- Application! -->
    <script type="text/javascript" src="js/Default.js"></script>
    <script type="text/javascript" src="js/controllers/CatsController.js"></script>

    <!-- Beautification! -->
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="js/vendor/bootstrap/dist/css/bootstrap.css" />

</head>

<body ng-app="catwalkApp" ng-controller="CatsController">

    <div class="input-group cat">
        <span class="input-group-addon">Cat:</span>
        <input ng-model="catName" type="text" class="form-control">
        <span class="input-group-addon button" ng-click="createCat(catName)">Add</span>
    </div>

    <div class="input-group colour">
        <span class="input-group-addon">Colour:</span>
        <input ng-model="colourName" type="text" class="form-control">
        <span class="input-group-addon button" ng-click="createColour(colourName)">Add</span>
    </div>

    <!--<h1>Cats ({{cats.length}})</h1>-->
    <h1>Collection ({{cats.length}})</h1>

    <ul>
        <li ng-repeat="cat in cats">

            {{cat.name}} (id: {{cat.id}}) has {{cat.friends.length}}
            friends (<a href="#" ng-click="deleteCat(cat)">Delete</a>)

            (<a href="#" ng-click="updateCatName(cat, 'Bob')">rename {{cat.name}} to "Bob"</a>)

            Friends:

            <ul>
                <li>
                    <strong>Friends:</strong>
                    <span ng-repeat="friend in cat.friends">
                        {{friend.name}}
                    </span>
                </li>
            </ul>

            <ul>
                <li ng-repeat="friend in cats">
                    <input type="checkbox" ng-click="addFriend(cat, friend.name)" />
                    {{friend.name}}
                </li>
            </ul>

        </li>
    </ul>

</body>

</html>